h1{
    text-align: center;
    font-style: italic;
    font-size: 180%;
    color: darkblue;
}
.P1{
   
    text-decoration: underline;
    font-weight: bold;
    margin-left: 10px;
   
}
.P2{
    text-decoration: underline;
    font-weight: bold;
    margin-left: 10px;
}
.allCol{
    width: 100%;
}
.col1{
    width: 50%;
    display: inline-block;
}
.col2{
    width: 50%;
    display: inline-block;
  
    
}