<div class="container">
    <div class="jumbotron">
        <div class="card">
            <h1>Liste des convocations</h1>
        </div>
        
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <input  type="text" [(ngModel)]="mcC" placeholder="Search" aria-label="Search"/>
                        <button   style="width: 90px; height: 35px;"  class="badge badge-pill badge-info"  (click)="chercherC()">Search</button>
                    </div>
                        <div class="col text-right">
                          <button type="button"style="width: 90px; height: 35px;"  class="badge badge-pill badge-success"  [routerLink]="['/convocation']">Ajouter</button>
                        </div>
                </div>
            </div>
        </div>
        <div class="card">
          <div class="card-body">
            <table class="table table-striped .table-borderless table-sm ">
                <thead>
                  <tr>
                    <th class="th1">ID</th>
                    <th class="th2" >Destinataire</th>
                    <th class="th3" >Date Envoi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of convocationList?.content">
                    
                    <td>{{c.idc}}</td>
                    <td>{{c.destinataire}}</td>
                    <td>{{c.dateEnvoi}}</td>
                    <td>
                       <button  style="width: 90px; height: 35px;"   class="badge badge-pill badge-warning" [routerLink]="['/upconvocation',c.idc]">Editer</button>
                    </td>
                   <td>
                  <button  style="width: 90px; height: 35px;"   class="badge badge-pill badge-danger" (click)="deleteConvocation(c)">Supprimer</button>
                   </td>
                   <td>
                   <button  style="width: 90px; height: 35px;"   class="badge badge-pill badge-secondary">Imprimer</button>
                   </td>
                   
                   
                  </tr>
                 
                </tbody>
              </table>
              <nav aria-label="...">
                <ul class="pagination  justify-content-center pagination-sm">
                  <li class="page-item " aria-current="page"  *ngFor="let p of paginC;let i=index">
                    <span class="page-link">
                        <a class="clickable" (click)="nextPageC(i)">{{i}}</a>
                      
                    </span>
                  </li>
                </ul>
              </nav>
                 
         
        </div>
     </div>
    </div>
</div>